.active-link {
   background-color: #911439;
   border-radius: 0.25em;
   color: #ffffff !important;
}

.header {
   .top-info-bar {
      display: none;
   }

   .navbar {
      .navbar-brand .logo-img {
         max-width: 200px;
      }

      .navbar-nav {
         >li {
            a {
               font-size: 1.2em;
               font-weight: 500;
            }
         }
      }
   }
}

.banner {
   // background-color: #efcec9;
   padding: 60px 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 100%;

   .banner-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      h1 {
         font-family: 'Playfair Display', serif;
         font-size: 4em;
         font-weight: 550;
         color: #ffffff;
      }

      p {
         color: #ffffff;
         font-size: 1.2em;
      }

      .link-btn {
         padding: 10px 40px;
         display: inline-block;
         text-decoration: none;
         border-radius: 5px;
         color: #ffffff;
         font-weight: 490;
         font-size: 1.1em;
         background-color: #911439;
      }
   }
}

.section-intro {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   .left-section {
      h5 {
         color: #911439;
      }

      h1 {
         font-family: 'Playfair Display', serif;
      }
   }

   .right-section {
      position: relative;

      img {
         display: block;
         width: 150px;
      }

      a {
         display: inline-block;
         padding: 6px 12px;
         text-decoration: none;
         color: #ffffff;
         background-color: #911439;
         border-radius: 5px;
         position: absolute;
         top: 40%;
         left: 20%;
      }
   }
}

.services {
   .service-card {
      width: 100%;
      height: 450px;
      background-color: lavender;
      position: relative;
      border-radius: 10px;

      >.service-img {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         display: block;
         width: 100%;
         height: 450px;
         border-radius: 10px;
         object-fit: cover;
         opacity: 0.3;
      }

      >.service-gradient-bg {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 0;
         display: block;
         width: 100%;
         height: 450px;
         border-radius: 10px;
         background: #FBD3E9;
         background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
         background: linear-gradient(to right, #BB377D, #FBD3E9);
      }

      >.service-text {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 3;
         display: block;
         width: 100%;
         height: 450px;
         padding: 10px;
         border-radius: 10px;

         h4 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 2.2em;
            //color: #911439;
            color: #b3883a;
            text-align: center;
            text-decoration: underline;
            text-transform: capitalize;
         }

         ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: capitalize;

            li {
               color: #fff;
               font-size: 1.3em;
               font-weight: 600;
               padding: 2px 4px;
            }
         }

         .btn {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
}

.location {
   .address {
      position: relative;
      height: 99%;
      padding: 10px;
      font-family: 'Playfair Display', serif;
      color: #911439;

      .bottom-right-img {
         position: absolute;
         bottom: 0;
         right: 0;
         z-index: 1;
         width: 150px;
      }

      h1 {
         font-size: 2.5em;
         z-index: 5;
      }
   }
}

.footer{
   .social-media-icons{
      a{
         display: block;
         img{
            display: block;
            width:32px;
            height:32px;
         }
      }
   }
}

//to center banner bg image
@media screen and (max-width:600px) {
   .banner {
      background-position: center;
   }

   .section-intro {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .left-section {
         h5 {
            color: #911439;
         }

         h1 {
            font-family: 'Playfair Display', serif;
         }
      }

      .right-section {
         position: relative;

         img {
            display: block;
            width: 90px;
         }

         a {
            display: inline-block;
            padding: 6px 12px;
            text-decoration: none;
            color: #ffffff;
            background-color: #911439;
            border-radius: 5px;
            position: absolute;
            top: 35%;
            left: 0;
         }
      }
   }
}

// to hide top-info-bar on mbile
@media screen and (min-width:992px) {
   .header {
      .top-info-bar {
         display: block;
         color: #ffffff;
         background-color: #911439;

         .info-icons {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
         }

         .social-media-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            a {
               display: block;
               margin-right: 10px;

               img {
                  display: block;
                  width: 32px;
                  height: 32px;
               }
            }
         }
      }
      .navbar {
         .navbar-nav {
            >li {
               margin: 1px;
               &:hover {
                  background-color: #911439;
                  border-radius: 0.25em;
                  a {
                     color: #ffffff !important;
                  }
               }
            }
         }
      }
   }
}

// to banner 
@media screen and (max-width:767px) {
   .banner {
      .banner-text {
         .my-2 {
            margin-bottom: 30px !important;
            text-align: center;
         }
      }
   }
}

//big font size of section intro for largre screen
@media screen and (min-width:768px) {
   .section-intro {
      .left-section {
         h5 {
            color: #911439;
            font-size: 2em;
            font-weight: 300;
         }

         h1 {
            font-family: 'Playfair Display', serif;
            font-size: 3em;
         }
      }
   }
}