// 0.Variable
// 1.Header 
// 2.Banner 
// 3.Service 
// 4.Blog 
// 5.Review 
// 6.Gallery 
// 7.Location 
// 8.Profile 
// 9.Footer
// 10.Responsive Code

.header {
   .top-info-bar {
      display: none;
   }
   .navbar{
      .navbar-nav{
         >li>a{
            font-size:1.2em;
            font-weight:500;
         }
      }
   }
}

.banner {
   background-color: #efcec9;

   .banner-text {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      h1 {
         font-family: 'Playfair Display', serif;
         font-size: 4em;
         font-weight: 550;
      }

      p {
         font-size: 1.2em;
      }

      .link-btn {
         padding: 10px 40px;
         display: inline-block;
         text-decoration: none;
         border-radius: 5px;
         color: #333333;
         font-weight: 490;
         font-size: 1.1em;
         background-color: #ffffff;

         &:hover {
            background-color: #911439;
            color: #ffffff;
         }
      }
   }

   .banner-images {
      img {
         display: block;
         max-width: 750/2 + px;
         max-height: 750/2 + px;
         width: 100%;
         height: auto;
         box-shadow: 0 0 50px 15px #d1958c;
         border-radius: 5px;
      }
   }
}

.section-intro {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   .left-section {
      h5 {
         color: #911439;
      }

      h1 {
         font-family: 'Playfair Display', serif;
      }
   }

   .right-section {
      position: relative;

      img {
         display: block;
         width: 150px;
      }

      a {
         display: inline-block;
         padding: 6px 12px;
         text-decoration: none;
         color: #ffffff;
         background-color: #911439;
         border-radius: 5px;
         position: absolute;
         top: 40%;
         left: 20%;
      }
   }
}

.services {
   .service-card {
      width: 100%;
      height: 450px;
      background-color: lavender;
      position: relative;
      border-radius: 10px;

      >.service-img {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         display: block;
         width: 100%;
         height: 450px;
         border-radius: 10px;
         object-fit: cover;
         opacity: 0.3;
      }

      >.service-gradient-bg {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 0;
         display: block;
         width: 100%;
         height: 450px;
         border-radius: 10px;
         background: #FBD3E9;
         background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
         background: linear-gradient(to right, #BB377D, #FBD3E9);
      }

      >.service-text {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 3;
         display: block;
         width: 100%;
         height: 450px;
         padding: 10px;
         border-radius: 10px;

         h4 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 2.2em;
            color: #911439;
            text-align: center;
            text-decoration: underline;
            text-transform: capitalize;
         }

         ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: capitalize;

            li {
               color: #fff;
               font-size: 1.3em;
               font-weight: 600;
               padding: 2px 4px;
            }
         }

         .btn {
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
}

// to hide top-info-bar on mbile
@media screen and (min-width:992px) {
   .header {
      .top-info-bar {
         display: block;
         color:#ffffff;
         background-color:#911439;
      }
   }
}

@media screen and (max-width:767px) {
   .banner {
      .banner-text {
         .my-2 {
            margin-bottom: 30px !important;
            text-align: center;
         }
      }
   }
}

@media screen and (min-width:768px) {
   .section-intro{
      .left-section {
         h5 {
            color: #911439;
            font-size:2em;
            font-weight:300;
         }
         h1 {
            font-family: 'Playfair Display', serif;
            font-size:3em;
         }
      }
   }
}