
.bg-pink{
   background-color: #efcec9;
}

/* ---------------------------------------------------------------------> header */

header {
   background-color: #911439;
   position: relative;
   margin-top: -50px;
}

/* top info bar row */
.top-info-bar-row .social-icons span {
   display: inline-block;
   margin: 0 5px;
   background-color: #efcec9;
   width: 25px;
   height: 25px;
   border-radius: 50%;
}

/* top info bar row end */

.info-container {
   position: relative;
   top: 50px;
}

/* navbar */

.navbar-container {
   position: relative;
   top: 50px;
   z-index: 99;
}

.navbar {
   background-color: #ffffff;
}

.navbar .nav-link {
   color: #202031;
   font-size: 1.1em;
}

.navbar .nav-link:hover {
   color: #911439;
}

.navbar .active {
   color: #911439 !important;
}

.navbar .navbar-cta {
   margin: 0 20px;
   padding: 8px 16px;
   background-color: #911439;
   color: #ffffff;
   text-decoration: none;
   font-weight: 600;
}

/* navbar end */

/* ---------------------------------------------------------------------> header end */


/* ------------------------------------------------------------------------> banner */
.banner {
   background-color: #efcec9;
   padding-top: 6.5em;
}

.banner-text h1 {
   font-family: 'Playfair Display', serif;
   font-size: 55px;
   margin-bottom: 20px;
   line-height: 1.2;
}

.banner-text p {
   font-size: 1.2em;
}

.banner-text .cta-btn {
   display: inline-block;
   background-color: #ffffff;
   text-decoration: none;
   color: #333;
   padding: 15px 40px;
   border-radius: 5px;
   font-weight: 500;
   font-size: 1.1em;
}

.banner-text .cta-btn:hover {
   background-color: #911439;
   color: #ffffff;
}

.banner-img {
   position: relative;
}

.banner-img img {
   width: 400px;
   height: 442px;
   position: relative;
   z-index: 3;
}

.banner-img .back-img {
   position: absolute;
   top: -50px;
   left: 110px;
   z-index: 1;
}

/* ------------------------------------------------------------------------> banner end */

/* ------------------------------------------------------------------------> services */
.services .section-intro {
   padding:70px 0;
   position: relative;
}

.services .section-intro h5 {
   color: #911439;
}

.services .section-intro h1 {
   font-family: 'Playfair Display', serif;
   font-size:3em;
}


.all-services{
   position: relative;
}

.all-services .service-bg-img{
   position:absolute;
   top:50%;
   left:50%;
   transform: translate(-50%, -50%);
   z-index:-1;
}

.all-services .cta-btn{
      margin: 0 20px;
      padding: 8px 16px;
      background-color: #911439;
      color: #ffffff;
      text-decoration: none;
      font-weight: 600;
}

.service-card{
   box-shadow:0 0 15px rgb(0 0 0 / 6%);
}

/* ------------------------------------------------------------------------> services end */


/* blog */

.read-more-btn {
  margin:10px 0;
}

.read-more-btn a{
   text-decoration:none;
   color: #000;
   font-size:1.2em;
   font-weight:500;
   padding:10px 30px;
   border-radius:5px;
   display:inline-block;
   border:1px solid #911439;
}